<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         verbose="true"
         failOnRisky="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="./vendor/autoload.php">
    <php>
        <const name="root" value="FALSE"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Exception</directory>
                <directory suffix=".php">./src/Contracts</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="ConfigLoader">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>